body {
    background-color: #254E58;
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    margin: auto;
    font-family: Georgia, serif;
    justify-content: flex-end;
    margin-top: 5rem;
    max-width: 700px;
}

.sideBar {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #112D32;
    color: white;
    padding-top: 1rem;
    padding-left: 1rem;
    text-decoration: none;
    display: block;
    box-shadow: 5px 0 5px #88bdbc;
}

.heading {
    color: #e85a4f;
    font-size: 2.7rem;
    font-weight: 500;
    padding-top: 1rem;
}

.buttonGroup {
    overflow: hidden;
    background-color: #112D32;
}

.specialText {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    line-height: 2.2rem;
}

.siteTitle {
    font-size: 3rem;
    font-weight: 700;
}

.profilePhoto {
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    margin-bottom: 1rem;
}

.sideBarNavLink {
    padding-top: 1rem;
    padding-bottom: 0rem;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
}

.paragraph {
    line-height: 2;
    color: white;
    font-size: 1.2rem;
    word-spacing: 6px;
    padding-bottom: 3rem;
}

.skills {
    padding: 10px;
}

.skillsTitle {
    background-color: #112D32;
    padding: 1%;
    border-radius: 15px;
}

.button {
    background-color: #88bdbc;
    text-align: center;
    padding: 15px 32px;
    border: none;
}

.accordion {
    padding: 50px;
}

.gitHubLink,
.gitHubLink:link,
.gitHubLink:visited {
    color: #e85a4f;
    line-height: 2.5;
}

.gitHubLink::before {
    content: "\a";
    white-space: pre;
}

.gitHubIcon {
    padding-left: 10px;
}

.courseDesc {
    line-height: normal;
}

@media screen and (min-width: 800px) {
    .hamburgerMenu {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        margin-left: 270px;
    }

    .nav-links {
        margin-left: 270px;
    }
} 

@media screen and (max-width: 799px) {
    .buttonGroup {
        display: none;
    }

    .sideBar {
        display: none;
    }

    .container {
        margin-left: 10px;
        margin-top: 0rem;
    }

}