
body {
    background-color: #254E58;
    width: 100%;
    height:100%;
}

.container {
    margin: auto;
    font-family: Georgia, serif;
    justify-content: flex-end;
    margin-top: 5rem;
    max-width: 700px;
}

@media screen and (max-width: 1200px) {
    .container {
        margin-left: 270px;
    }
}

.heading {
    color: #e85a4f;
    font-size: 2.7rem;
    font-weight: 500;  
    padding-top: 1rem;
}

.special-text {
    color:white;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
}

.nav-links {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-right: 5rem;
    padding-left: 5rem;
    width: 100% - 10rem;
    height: 2.5rem;
    display: flex;
    list-style: none;
    justify-content: flex-end; 
}

.nav-button {
    margin-right: 1rem;
    text-align: center;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    background-color: #112D32;
    border: none;
}

.nav-link-item {
    text-decoration: none;
}

.nav-link-text {
    font-size: 1.5rem;
    font-family: Georgia, serif;
    font: bold;
    color:white;
    text-decoration: none;
}

.site-title {
    font-size: 3rem;
    font-weight: 700;
}

.side-bar {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #112D32;
    color: white;
    padding-top: 1rem;
    padding-left: 1rem;
    text-decoration: none;
    display: block;
    box-shadow: 5px 0 5px #88bdbc;

}

.profile-photo {
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    margin-bottom: 1rem;
}

.side-bar-nav-link {
    padding-top: 1rem;
    padding-bottom: 0rem;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
}

.paragraph {
    line-height: 2;
    color: white;
    font-size: 1.2rem;
    word-spacing: 6px;
    padding-bottom: 3rem;
}

.download {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.button {
    background-color: #88bdbc;
    text-align: center;
    padding: 15px 32px;
    border: none;
}

.checklist {
    position: fixed;
    z-index: 3;
    color: white;
    font-size: 1rem;
    line-height: 2;
    bottom: 0;
    left: 0;
    padding-right: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    
}

.checklistTitle {
    color: #e85a4f;
}

.grid-container {
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    max-width: 600px;

}

.grid-item {
    color: black;
    border: black;
    border-style: solid;
    padding: 60px;
    margin-left: 100px;
   

}