
.container {
    margin:auto;
    max-width: 500px;
    font-family: sans-Serif;
    justify-content: left; 
}

.heading {
    color:darkslategray;
    font:xx-large;

}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    font-size: larger;
    font: bold;
    color:blueviolet;
}

.site-title {
    color:cadetblue;
    font:italic;
    font-size: 3rem;
    font-weight: 700;
    margin: 3rem, 0;
}
